# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
node_modules/
**/node_modules/

# Build outputs
apps/platform/build/
apps/website/.next/
apps/website/out/

# Testing
coverage/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log
firebase-debug.*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo

# Firebase sensitive files
serviceAccountKey.json
.htpasswd

# Claude Code local settings
.claude/settings.local.json

# Misc
nul
commit.sh
